<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>poll.title</title>
</head>
<body>
  <h2>{{ poll.title }}</h2>
<form method="POST">
    {% csrf_token %}
    {% for option in options %}
        <div>
            <label>
                <input type="radio" name="option" value="{{ option.id }}">
                {{ option.option_text }} - {{ option.description }} ({{ option.votes }} votes)
            </label><br>
        </div>
    {% endfor %}
    <button type="submit">Vote</button>
</form>

</body>
</html>